 body {
    background-color: #CDFCFF;
} 

#headerpic {
display: block;
margin: 0px auto;
height: 500px;
width: 100%;

}

#MainTitle{
 /* !--https://www.w3schools.com/howto/howto_css_image_text.asp */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: blue;
  text-shadow: 2px 2px #ff0000;
}

#call1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 233px;
}

#call2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 210px;
    
}
#call3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 210px;
}
article{
    display: inline-block;
    border: 1px solid black;
    height: 700px;
    width: 600px;
    padding: 10px;
    background-color: aqua;
}

h1{
    font-size: 100px;
   text-align: center;
   color: blue;
   text-decoration: underline;

}
#color{
   font-size: 70px;
   text-align: center;
   color: blue;

}
#message{
    text-align: right;
    color: blue;
    font-size: 30px;
}

 li {
   /* display: inline-block;    */
   list-style-type: none;
   font-size: 30px; 
   color: blue;
  float: right;
  padding: 1%;
  
 }  


h5{
    font-size: 40px;
}


.lessons{
    text-align: justify;
    font-size: 20px;
    position: relative;
    bottom: -173px;
}

#lessons1{

        text-align: justify;
        font-size: 20px;
        position: relative;
        bottom: -150px;
    }

.lessonsheader{
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 530px;
    height: 5px;
}
#lessonsheader2{
        
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 530px;
    height: 5px;
    top: 25px;
    text-align: center;
}
#lessonsheader3{
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 530px;
    height: 5px;
     top: 25px;   
}

div{
    display: inline-block;
}


#ForLoop{
    position: relative;
    left: 50px;
    /* display: block; */
    /* float: left; */
    margin-right: 10px;
    width: 20%;
    height: 20px;
}

#hm{
     position: relative; 
    /* margin-right: 10px; */
    width: 110px;
    height: 110px;
    top: -80px;
   
     
}
#saved{
    position: relative;
    bottom: 40px;
}