 body {
    background-color: #CDFCFF;
} 

#headerpic {
display: block;
margin: 0px auto;
height: 500px;
width: 100%;

}

#MainTitle{
 /* !--https://www.w3schools.com/howto/howto_css_image_text.asp */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: blue;
  text-shadow: 2px 2px #ff0000;
}

#call1{

    position: relative;
    left: 200px;
    /* display: block; */
    /* float: left; */
    margin-right: 10px;
    width: 30%;
    height: 210px;
}

#call2{
    position: relative;
    left: 200px;
    /* display: block; */
    /* float: center; */
    width: 30%;
    height: 27.5%;
    
}
#call3{
    position: relative;
    left: 200px;
    /* display: block; */
    /* float: left; */
    margin-right: 10px;
    width: 30%;
    height: 30%;
}
article{
    display: inline-block;
    border: 1px solid black;
    height: 700px;
    width: 600px;
    padding: 10px;
}

h1{
    font-size: 100px;
   text-align: center;
   color: blue;
   text-decoration: underline;

}
#demo{
   font-size: 70px;
   text-align: center;
   color: blue;

}
#message{
    text-align: right;
    color: blue;
    font-size: 30px;
}

 li {
   /* display: inline-block;    */
   list-style-type: none;
   font-size: 30px; 
   color: blue;
  float: right;
  padding: 1%;
  
 }  

/* #article1{
    width: 10%;
    align-items: center;
    float: left;
} */

h5{
    font-size: 40px;
}


.lessons{
    font-size: 25;
    margin: 120px;
    padding-left: -100px;
    font-size: 20px;
}

.lessonsheader{
    position: relative;
    margin: 20px;
    padding: 5px;
    width: 530px;
    height: 5px;
}

div{
    display: inline-block;
}

#lesheader{
    position: relative;
    margin: 20px;
    padding: 5px;
    width: 530px;
    height: 5px;
}

#ForLoop{
    position: relative;
    left: 50px;
    /* display: block; */
    /* float: left; */
    margin-right: 10px;
    width: 20%;
    height: 20px;
}

#hm{
    /* position: relative; */
    /* margin-right: 10px; */
    width: 110px;
    height: 110px;
     
}